@import "./global.css";

header {
  border-bottom: 1px solid lightgray;
}

main {
  background: white;
  height: 82vh;
}

.page-title-container {
  position: relative;
  width: 100%;
  height: 10vh;
  background: white;
}

.page-title {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: 400;
  font-size: 2.4vh;
}

.search-bar {
  padding-top: 3vh;
  height: 10vh;
}

.search-form {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  border: 2px solid lightgray;
  border-radius: 10px;
  background: #fff;
}

.search-input {
  position: absolute;
  top: 9px;
  left: 60px;
  right: 20px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  border: none;
  appearance: none;
  outline: none;
}

.search-button {
  position: absolute;
  top: 4px;
  left: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;

  & svg {
    width: 26px;
    height: 27px;
    fill: #5a6674;
  }
}

.search-result {
  width: 90%;
  height: 72vh;
  margin-top: 1vh;
  margin: 0 auto;
  overflow: auto;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.search-result::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.book-item-list {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book-item {
  width: 30%;
  max-height: 20vh;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.book-thumbnail-container {
  display: inline-block;
  max-width: auto;
  height: 70%;
  position: relative;
}

.book-thumbnail {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.book-bookmark-button {
  display: inline-block;
  position: absolute;
  z-index: 10;
  bottom: 1vw;
  right: 1vw;

  background-color: white;
  background-image: url("../images/icon-bookmark-selected.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  width: 6vw;
  height: 6vw;
  border: 1px solid lightgray;
}

.book-meta {
  margin-top: 0.5vh;
  padding-left: 1vw;
  font-size: 1vh;
  width: 100%;
}

.book-title {
  font-size: 1.4vh;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-author {
  display: block;
  color: #5a6674;
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.borrow-enable {
  color: red;
}

.borrow-disable {
  color: gray;
}
